<div class="container-signup" style="background-color: #E1E1E3">
    <div class="inside-signup">
      <div style="font-style:italic"><h4><%= flash[:alert] %></h4></div>
      <div class="word-name" style="margin: 0 0 10px 0">Add a new word</div>
        <%= form_for @word do | form | %>
          <%= form.label :name %>
          <%= form.text_field :name %>
          <br>
          <br>
          <%= label_tag 'Definition' %>
          <br>
          <%= text_area_tag :definition, nil, rows: 9, cols: 100 %>
          <br>
          <br>
          <%= form.submit 'Do it', options = {class:"btn btn-primary ", 
            style:"background-color: #515151; border: 1px solid #515151"}%>
      <% end %>
  </div>
</div>