<!DOCTYPE html>
<html>
  <head>
    <title>Urban WDI</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% @words = Word.all %>
  
  <body style="background-color: #DA222A">
    <div class="container-fluid" style="background-color: #DA222A">
      <p style="color:white; padding: 10px 0 0 0">
        <% if current_user %>
          Welcome, <%= current_user.name %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
        <% else %>
          <%= link_to 'Log In', login_path, style: "color:white" %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Sign Up', new_user_path, style: "color:white" %>
        <% end %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Home", root_path, style: "color:white" %>
          &nbsp;&nbsp;
        <%= flash[:notice] %>
      </p>
      
      <div style="text-align:center">
        <h1 class= "ur-rails-header">URBAN WDI</h1>
          <div style= "text-align:center; display: inline-block">
            <%= form_tag search_path, method: :get do %>
            
            <%= text_field_tag :name, value = nil, options = {placeholder: "Get your WDI on!", class:"search-bar"} %>
            
            &nbsp;&nbsp;
            
            <%= submit_tag "Search", options = {class:"btn btn-primary ", 
            style:"background-color: #515151; border: 1px solid #515151"} %>
            
            <% end %>
          </div>
            &nbsp;&nbsp;
          
          <div class="ur-button">
            <%= button_to('Browse', '/words',  method: 'get', class:"btn btn-primary ", 
            style:"background-color: #515151; border: 1px solid #515151") %>
          </div>
            &nbsp;&nbsp;
          <div class="ur-button">
            <%= button_to('Random', '/random',  method: 'post', class:"btn btn-primary ", 
            style:"background-color: #515151; border: 1px solid #515151") %>
          </div>
      
      </div>
    </div>
      
    <%= yield %>
    
  </body>
  
</html>
