<!DOCTYPE html>
<html>
  <head>
    <title>UrbanRails</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% @words = Word.all %>
  
  <body style="background-color: #4C0D0E">
    <div class="container" style="background-color: #9D0910">
      <p style="color:white">
        <% if current_user %>
          Welcome, <%= current_user.name %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
        <% else %>
          <%= link_to 'Log In', login_path, style: "color:white" %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Sign Up', new_user_path, style: "color:white" %>
        <% end %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Home", root_path, style: "color:white" %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= flash[:notice] %>
      </p>
      <h1 class= "navbar-header" style="text-align:center; color: #17252a; 
      font-family: 'Lato', sans-serif; font-weight:bold; font-size: 80px; color: white; padding: 0 0 0 50px">
      Urban Rails</h1>
        <br>
        <br>
      <div style= "text-align:center">
        <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :name, value = nil, options = {style:"font-size: 20px; width:400px; height: 50px; margin: 0 10px 0 80px"} %>
        <%= submit_tag "Search", options = {class:"btn btn-primary"} %>
        <% end %>
      </div>
      <br>
      <div style= "text-align:center">
          
        <div class="ur-random-button">
          <%= button_to('Add', '/words/new',  method: 'get', class: 'btn btn-default') %>
        </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="ur-random-button">
          <%= button_to('Random', '/random',  method: 'post', class: 'btn btn-default') %>
        </div>
          <!-- <a href="/random">
            <div class="btn btn-default" style="display: inline-block; margin: 0 0 15px 0">Random</div>
          </a> -->
      </div>
      </div>
      <br>
      <div class= "col-md-4" style="float:right" >
      <h2>First 10</h2>
          <% @words.take(10).each do |w| %>
            <p><%= link_to w.name, word_path(w), options= {style: "color: #134FE6; font-size: 25px; font-weight: 500"} %></p>
          <% end %>



      </div>
      
    <%= yield %>
    
  </body>
  
</html>
